* {margin: 0; padding: 0; }


.hgroup {color: #444; };

.hgroup h1 { 
font-family:'Josefin Sans',sans-serif; 
letter-spacing: 0.5em; 
line-height: 3.5em;
}
.hgroup h2 { 
font-family: 'Waiting for the Sunrise', cursive;
  margin: 0.5em 0 1em;
}

.social a {
  font-size: 2em;
  line-height: 0em;
  transition: 0.5s;
  color: #444;
  text-decoration: none;
  padding: 15px;
}
  