* {margin: 0; padding: 0; }
body {position: absolute;width: 100%;height: 100%; }
.wrapper {background: rgba(255, 255, 255, 0.8);position: absolute;height: 100%;width: 100%;box-sizing: border-box;transition: all 0.6s; }
  @media screen and (min-width: 480px) {  .wrapper {margin-top: 25%;margin-top: 25vh; height: 50%; } }

.hgroup {color: #444; }
  .hgroup h1, .hgroup h2 {text-align: center; }
  .hgroup h1 {  font-family: 'Josefin Sans', sans-serif; letter-spacing: 0.5em;line-height: 3.5em; }
  .hgroup h2 { font-family: 'Waiting for the Sunrise', cursive'; margin: 0.5em 0 1em; }

.social ul { display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex; flex-flow: wrap;justify-content: space-between;list-style: none;max-width: 600px; margin: 0 auto; }

.social li { text-align: center;width: 35.3%;line-height: 4em; }
  @media screen and (min-width: 480px) {.social li { width: 15%; } }

.social a { font-size: 2em;line-height: 0em;transition: 0.5s; color: #444;text-decoration: none; padding: 15px; }
  .social a:hover {  color: black;font-size: 2.75em; }
